@import 'src/theme/main.scss';
.tourRecomended{
  // margin-right: 50px;
  padding: 16px;
}
.tourCost{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.tourCost_span{
  margin-right: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tourCost_span .price{
  font-size: 16px;
  // font-weight:1;
  // color: #0dd075;
}
.tourRecomended h2{
  font-size: 26px;
  font-weight: 800;
  text-align: right;
  margin: 16px 0 32px;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px !important;
  height: 20px !important;
  // background-color: #fff;
  // border: 1px solid #ddd;
  // border-radius: 50%;
  // cursor: pointer;
  z-index: 10;
  margin-right: -5px;
  
}

.swiper-pagination-bullet {
  background-color: #000 !important;
  opacity: 0.5;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #0dd075 !important;
}
div.tourRecomended .swiper-pagination {
  margin-top: 30px;
}



@media (max-width: 600px) {
  .MuiButton-root {
    width: 100%;
  }
}
