@import 'src/theme/main.scss';
@import '../../theme/colors.scss';

.events-AdminVerify{
  display: flex;
  flex-direction: column;
  margin-right: 3%;
  margin-top: 3%;
  border: 1px solid $c-green8;
  border-radius: 10px;
  margin-left: 3%;
}
.events-AdminVerify h2{
  margin-right: 2%;
  margin-top: 2%;
  font-size: 20px;
  font-weight: 700;
}
.tours-AdminVerify{
  display: flex;
  flex-direction: column;
  margin-right: 3%;
  margin-top: 3%;
  border: 1px solid $c-green8;
  border-radius: 10px;
  margin-left: 3%;
}
.tours-AdminVerify h2{
  margin-right: 2%;
  margin-top: 2%;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.admin-cards {
  background-color: whitesmoke;

  &__admin-tours-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    border-radius: 8px;
    margin: 0 0;
    padding-top: 32px;
    padding-right: 15px;

    &__cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      gap: 8px;
      margin: 0 0px;
      margin-bottom: 10px;
      width: 72%;
      min-width: 300px;
      @media (max-width: 800px) {
        margin: auto;
      }
      @media (max-width: 1000px) {
        width: 100%;
      }
    }
    @media (max-width: 617px) {
      &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    @media (max-width: 1000px) {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  &__admin-tours {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .search-submit {
    display: flex;
    align-items: center;
    &__search-btn {
      border: none;
      width: 190px;
      @media (max-width: 1260px) {
        width: 130px;
      }
      background-color: #feb714;
      border-radius: 32px;
      -webkit-transition: background-color 0.2s linear;
      -o-transition: background-color 0.2s linear;
      transition: background-color 0.2s linear;
      padding: 5px 0px;
      margin: auto;
  
      cursor: pointer;
      @media (min-width: 800px) {
        margin: 0px 30px;
        padding: 10px 0px;
      }
      &:hover {
        background-color: #FFE15D;
      }
      p {
        margin: 0;
        vertical-align: middle;
        font-size: 16px;
        font-weight: bold;
        color: black;
        display: inline-block;
      }
    }
  }
}