@import 'src/theme/main.scss';
.user-preferences-wrapper {
    display: 'flex'; 
    justify-content: 'center'; 
    align-items: 'center'; 
    overflow-y: 'auto';
    margin-top: 80px;
    position: fixed;
    top: 0;
    left: 0;
    &__container {
        padding-left: 24px;
        padding-right: 24px;
        margin: auto;
        width: 750px;
        height: 590px;
        background-color: #F0F0F0;
        border-radius: 8px;
        &__close-btn {
            display: flex;
            justify-content: flex-end;
            .user-preferences-close {
                cursor: pointer;
                margin-top: 12px;
                margin-right: auto;
                border-color: transparent;
                font-size: 24px;
                &:hover {
                    color: red;
                }
            }
        }
        &__header {
            display: flex;
            justify-content: center;
            .user-preferences-title {
                font-size: 26px;
                font-weight: 700;
                color: #000000;
            }
        }
    }
    @media (max-width: 768px) {
        &__container {
            width: 350px;
            height: 390px;
            &__header {
                .user-preferences-title {
                    margin-top: 16px;
                    font-size: 20px;
                }
            }
        }
    }
}

.preferences-selections {
    .preference-form {
        display: flex;
        flex-direction: column;    
    }
    &__checkbox-container {
        // display: grid;
        // grid-template-columns: repeat(200px, 1fr); /* Two columns */
        // gap: 20px; /* Gap between checkboxes */
        // max-width: 500px; /* Adjust the width as needed */
    }
}