@import 'src/theme/main.scss';

.tour-detail {
  background-color: $c-white;
  margin: 32px 0;
  padding: 32px;
  box-shadow: 2px 4px 8px $c-black-20;
  border-radius: 16px;
  border: 1px solid $c-greydd;

  &__title {
    font-size: 24px;
    margin-bottom: 16px;
  }

  &__goto-dashboard {
    // height: 40px;
    // background-color: $c-white;
    // border-width: 1px;
    // border-radius: 8px;
    // border: none;
    // // color: $c-green2;
    // font-size: 14px;
    // font-weight: 700;
    // cursor: pointer;
    background-color: $c-white;
    border: 1px solid $c-greybb;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;

    &:hover {
      background-color: $c-white9;
    }

    span {
      padding: 10px;
      display: flex;
      align-items: center;
      font-weight: 500;
    }

    span:last-child {
      border-right: 1px solid $c-greybb;
    }
  }

  &__img {
    height: 240px;
    max-width: 100%;
    display: block;
    border-radius: 8px;
    margin: 24px auto;
  }

  &__date {
    display: flex;
    flex-wrap: wrap;
  }

  &__start,
  &__end {
    font-size: 14px;
    margin: 8px 0;
    font-weight: 700;
    padding: 8px;
    border-radius: 8px;
    width: auto;
  }

  &__start {
    color: #006a33;
    background-color: #f7fafb;
    border: 1px solid #006a33;
    margin-left: 16px;
  }

  &__end {
    color: #e40300;
    background-color: #fdeded;
    border: 1px solid #e40300;
  }

  &__capacity {
    color: #666;
    font-size: 16px;
    font-weight: 800;
    margin: 16px 0;
  }

  &__description {
    margin: 16px 0;
    font-weight: 700;
    color: #333;
  }

  &__description-editor {
    min-height: 48px;
    background-color: $c-white;
    border: none;
  }

  &__book {
    background-color: #feb714;
    color: $c-black;
    font-weight: 700;
    width: auto;
    margin-left: 10px;
    // margin: 24px 0;
  }

  &__book-modal {
    background-color: #feb714;
    color: $c-black;
    font-weight: 700;
    margin: 0 0 24px 0;
    margin-bottom: 40px;
  }

  &__code-stroke {
    text-decoration: line-through;
    margin-top: 12px;
  }

  &__cost {
    color: #2979fe;
    font-weight: 800;
    font-size: 18px;
  }

  &__hr {
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 0.25px solid #B2B2B2;
  }

  &__register-modal {
    width: 700px;
    height: 425px;
    background-color: #fff;
    padding: 32px;
    border-radius: 8px;
    text-align: center;

    @media (max-width: 768px) {
      width: 350px;
      height: 450px;
    }

    &__title {
      font-size: 22px;
      font-weight: 700;

    }
    &__form-container {
      &__form {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        &__input {
          margin: auto;
        }
        &__submit {
          width: 50%;
          margin: auto;
          margin-top: 16px;
          background-color: #feb714;
          color: #000;
          &:hover {
            background-color: #000;
            color: #fff;
          }
          @media (max-width: 768px) {
            width: 100%;
          }
        }
      }
    }
    &__payment-way-container {
      .form-label-title {
        font-size: 20px;
        font-weight: 700;
        color: #000;
      }
      .form-control-label-box {
        width: 500px;
        @media (max-width: 768px) {
          margin: auto;
          width: 100%;
        }
      }
      .online-payment {
        display: flex;
        flex-direction: row;
        &__text {
          margin-right: 10px;
        }
      }
      .user-wallet-payment {
        display: flex;
        flex-direction: row;
        &__icon {
          margin: auto;
        }
        &__text {
          &__title {
            margin-right: 10px;
          }
          &__description {
            &__enough-credit {
              margin-top: 5px;
              font-size: 12px;
              color: green;
            }
            &__no-credit {
              margin-top: 5px;
              font-size: 12px;
              color: red;
            }
          }
        }
      }
    }
  }
}

.title-and-icon {
  display: flex;
  flex-direction: row;
  &__dashboard {
    margin-left: 0;
    margin-right: auto;
  }
}

.centered-toast-message {
  text-align: center;
}

