.list-of-shared{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.list-of-shared article{
    display: flex;
    flex-direction: row;
    border: 1px solid #18513d;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px ;
}

.list-of-shared article:hover{
    background-color: #18513d;
    color: white;
    box-shadow: 0 0 10px #18513d;
    border: 1.5px solid #054751;
    cursor: pointer;
}
.recieve-suggestion{
    display: 'flex'; 
    justify-content: 'center'; 
    align-items: 'center'; 
    overflow-y: 'auto';
    margin-top: 150px;
    position: fixed;
    top: 0;
    left: 0;
    &__container {
        padding-left: 24px;
        padding-right: 24px;
        margin: auto;
        width: 400px;
        height: 255px;
        background-color: #F0F0F0;
        border-radius: 8px;
    }
    &__container h2{
        margin-top: 10px;
    }
}

.recieve-suggestion__container h2{
    display: flex;
    text-align: center;
    justify-content: center;
}
.recieve-suggestion-shared{
    display: 'flex'; 
    justify-content: 'center'; 
    align-items: 'center'; 
    overflow-y: 'auto';
    margin-top: 150px;
    position: fixed;
    top: 0;
    left: 0;
    &__container {
        padding-left: 24px;
        padding-right: 24px;
        margin: auto;
        width: 600px;
        height: 405px;
        background-color: #F0F0F0;
        border-radius: 8px;
    }
    &__container h3{
        margin-top: 10px;
        position: absolute;
        right: 25%;
    }
}
// .event{
//     margin
// }
.event-child{
    display: flex;
    flex-direction: row;
    border: 1px solid #18513d;
    border-radius: 10px;
    margin-top: 10%;
}

.event-information{
    // display: flex;
    // flex-direction: column;
    margin-right: 5px;
    margin-top: 5px;
}

.event-buttons{
    display: flex;
    flex-direction: row;
}

.event-btn{
    padding: 3px 8px !important;
    border: 1px solid #054751;
    border-radius: 10px;
    cursor: pointer;
}

.visit{
    color: #18513d;
    font-weight: 500;
    font-size: 16px;
    background-color: #c1c1c1;
}
.visit:hover{
    background-color: #18513d;
    color: #F0F0F0;
}

.delete{
    color: crimson;
    border: 1px solid crimson;
    padding: 3px 8px;
}

.noDataFount{
    margin: 0 auto;
    margin-right: 20%;
    margin-top: 20%;
}